/* You can add global styles to this file, and also import other style files */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    min-width: 350px;
    width: auto !important;
    width: 350px;
}

[hidden] {
    display: none !important;
}