<div class="container">
  <div class="error-message">
    <h1 class="error-title">Whoops!</h1>
    <p>Looks like you are lost. But don't worry there is plenty to see!!</p>
  </div>
  <form class="search-form">
    <div class="form-group">
      <label for="search_content">Search Content!</label>
      <input id="search_content" type="text" class="form-control" value="" placeholder="Search what you want to find...">
    </div>
    <button type="submit" class="btn btn-primary">Search Now!</button>
  </form>
</div>