<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="navbarCollapse = ! navbarCollapse;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      <a class="navbar-brand" routerLink="welcome">Project</a>
    </div>
   
    <div id="navbar" class="navbar-collapse" [ngClass]="{'collapse': ! navbarCollapse}">
      <ul class="nav navbar-nav">
        <li><a href="#/">About</a></li>
        <li><a href="#/">Contact</a></li>
        <li><a routerLink="register" [hidden]="getAuthState()">Register</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" [hidden]="! getAuthState()">
        <li class="dropdown" [ngClass]="userDropdownStatus ? 'open' : ''" (mouseleave)="userDropdownStatus = false">
          <a href="" (mouseover)="userDropdownStatus = true">
            My Panel <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" (click)="userDropdownStatus = false">
            <li><a href="#/user">User</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/home" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/#navbar -->
  </div>
  <!--/.container-fluid -->
</nav>
