<div class="register">
  <legend>Register</legend>
  <form class="form-horizontal" (submit)="processForm()" novalidte>
    <fieldset>
      <div class="alert alert-danger" [hidden]="! error">
        <strong>Error: </strong> {{ error }}
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="formData.email" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="formData.password" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" placeholder="Confirm Password" name="repassword" [(ngModel)]="formData.repassword" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Are you human?</label>
        <div class="col-lg-10 col-lg-offset-2">
                      <re-captcha name="captcha" siteKey="{{captchaKey}}"
                [(ngModel)]="formData.captcha" 
                ngDefaultControl
            ></re-captcha>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" ng-click="clearForm()">Reset</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>