<legend>Welcome</legend>

<div class="jumbotron">
  <div class="container">
    <h2>Quickstart</h2>
    <h4>AppBasis 1.0</h4>
    <h3 style="font-style: italic">What inside?</h3>
    <ul>
      <li><strong>Front-End</strong></li>
      <ul>
        <li>Angular</li>
        <li>Bootstrap</li>
      </ul>
      <li><strong>Back-End</strong></li>
      <ul>
        <li>Simple MVC</li>
        <li>Laravel eloquent</li>
        <li>Blueprint DB Builder</li>
        <li>Password Score(zxcvbn)</li>
        <li>Captcha (google)</li>
        <li>PHP-DI</li>
        <li>ReactPHP server</li>
      </ul>
    </ul>
  </div>
</div>