<div [ngSwitch]="authState">

  <nav *ngSwitchDefault class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <!-- guest -->
    <a class="navbar-brand" routerLink="index/register">AppBasis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsedNavbar = !isCollapsedNavbar" [attr.aria-expanded]="!isCollapsedNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsedNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/index/updates">Updates <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngSwitchCase="'4'">            
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <!-- auth -->
      <div class="container">
        <a class="navbar-brand" routerLink="home">AppBasis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
          aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsedNavbar = !isCollapsedNavbar" [attr.aria-expanded]="!isCollapsedNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsedNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/chat">Chat</a>
            </li>
          </ul>

          <ul id="name" class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false" href="" (click)="isCollapsedName= !isCollapsedName; $event.preventDefault();"
                  [attr.aria-expanded]="!isCollapsedName">
                  {{ getName() }}
                </a>
                <div class="dropdown-menu" [ngbCollapse]="!isCollapsedName">
                  <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</div>